{:paths
 ["src" "resources"]

 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"}

  compojure       {:mvn/version "1.6.1"}
  http-kit        {:mvn/version "2.4.0-alpha6"}
  ring/ring-core  {:mvn/version "1.8.1"}
  ring/ring-devel {:mvn/version "1.8.1"}
  }

 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps  {org.clojure/test.check {:mvn/version "1.0.0"}}}

  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha     "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}
   :main-opts  ["-m" "cognitect.test-runner"
                "-d" "test"]}

  :uberjar {:extra-deps {seancorfield/depstar {:mvn/version "1.0.94"}}
            :main-opts  ["-m" "hf.depstar.uberjar" "status-monitor-service.jar"
                         "-C" "-m" "practicalli.status-monitor-service"]}}}
